# Map , Reduce And Filter Function

## Map()

In [1]:
l = [2,3,4,5,6]

In [2]:
def test(l):
    l1 = []
    for i in l:
        l1.append(i**2)
    return l1

In [4]:
test(l)

[4, 9, 16, 25, 36]

In [6]:
def sq(x):
    return x**2

In [8]:
list(map(sq, l))

[4, 9, 16, 25, 36]

In [10]:
list(map(lambda x:x**2 , l))

[4, 9, 16, 25, 36]

In [18]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
# Task is to add corresponding elements of list l1 and l2

list(map(lambda x,y: x+y, l1, l2))

[7, 9, 11, 13, 15]

In [19]:
# Using external function for above task
def add(x,y):
    return x+y

In [15]:
list(map(add , l1, l2))

[7, 9, 11, 13, 15]

In [20]:
# Practice: To add three list using map() 
l3 = [5,6,7,8,1]
list(map(lambda x,y,z: x+y+z , l1, l2 , l3))

[12, 15, 18, 21, 16]

- map() function just maps one item to another and perform tasks specified by the function in it.

In [1]:
# Convert given string to upper case using map()
s = 'prateek'
list(map(lambda s: s.upper(), s))

['P', 'R', 'A', 'T', 'E', 'E', 'K']

In [ ]:
# Example 
l2 = input("Enter the list").split()   # To convert string to list
l2 = list(map(int, l2))  # To convert entered list into int from list
l3 = list(filter(lambda x: x%2!=0, l2))
print(l3)

## reduce()

- reduce is needed to be called from functools library.

In [25]:
from functools import reduce

In [26]:
l = [1,2,3,4]

In [27]:
reduce(lambda x,y: x+y,l)

10

- reduce() collapses the whole list to perform the passed function.

In [29]:
reduce(lambda x,y,z : x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

- In this only two parameters can be passed

In [30]:
reduce(lambda x,y: x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [31]:
reduce(lambda x,y: x+y , [1])

1

##### - This case where only one data is passed but reduce() still works is an exceptional case.

In [32]:
reduce(lambda x,y: x*y, l)

24

In [33]:
# Find maximum no. in the list
reduce(lambda x,y: x if x>y else y , l)

4

## filter()

In [3]:
l = [1,2,34,5,3,6,4,8,6]
l

[1, 2, 34, 5, 3, 6, 4, 8, 6]

In [5]:
list(filter(lambda x:x%2 == 0, l))

[2, 34, 6, 4, 8, 6]

In [6]:
list(filter(lambda x:x%2!=0, l ))

[1, 5, 3]

In [10]:
#Program to extract all negative and positive nos from a list
l1 = [1,-2,3,4,-9,-1,3,4,5,-5,-6]
l1

[1, -2, 3, 4, -9, -1, 3, 4, 5, -5, -6]

In [11]:
list(filter(lambda x: x<0 , l1))

[-2, -9, -1, -5, -6]

In [12]:
list(filter(lambda x:x>=0, l1))

[1, 3, 4, 3, 4, 5]

In [14]:
l2 = ['prateek' , 'kumar', 'satna', 'bhopal', ' banglore']

In [16]:
# To extract those string whose lenght is lesser than 6
list(filter(lambda x: len(x)<=6, l2))

['kumar', 'satna', 'bhopal']

# END